<html>

<head>
  <title>User Homepage</title>
</head>

<body>
  <h1> welcome <%= user.username %>
  </h1>

  <h2>List of books</h2>
  <% if (books.length>0 ){ %>
    <% books.forEach(book=> { %>
      <span>
        <h2>
          Title: <%= book.title %>
        </h2>
        <h3>
          Author: <%= book.author %>
        </h3>
        <h3>
          Publisher: <%= book.publisher %>
        </h3>
        <p>
          Genre: <%= book.genre %>
        </p>
        <p>
          Summary: <%= book.summary %>
        </p>
      </span>
      <%}) %>
        <%} %>
          <h2>Your books</h2>

</body>

</html>