<html>

<head>
  <title>User Homepage</title>
</head>

<body>
  <% if (user!==undefined){ %>
    <h1> welcome
      <%= user.username %>
    </h1>

    <a href="/" name="user">Logout</a>
    <br>
    <a href="/get-book">Get a book</a>

    <% if (user.books.length>0 ){ %>
      <h2> Your List of books</h2>
      <% user.books.forEach(id=> { %>
        <span>
          <h2>
            Title: <%= books[id-1].title %>
          </h2>
          <h3>
            Author: <%= books[id-1].author %>
          </h3>
          <h3>
            Publisher: <%= books[id-1].publisher %>
          </h3>
          <p>
            Genre: <%= books[id-1].genre %>
          </p>
          <p>
            Summary: <%= books[id-1].summary %>
          </p>
          <br>
        </span>
        <%}) %>
          <%} %>
            <% if(user.books.length==0){%>
              <h2>No books Found</h2>
              <%}%>
                <%} %>
                  <% if (user===undefined){ %>
                    <p>No user Logged In</p>
                    <a href="/">Please Log In</a>
                    <%}%>

</body>

</html>
